<%- include('../partials/header') %>
<%- include('../partials/navbar') %>


<main>
  <div class="mt-5">
    <%- include("../partials/flash") %> 

</div>
    <h1 class="display-5 mb-5">Shopping Cart</h1>

    <div class="row">
            <% for(let product of products) { %> 
        <div class="col col-lg-4 col-md-6">

            <div class="card mx-auto mb-5" >
                <img src="<%= product.image %> " class="card-img-top" alt="Product">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text"><%= product.desc.substring(0,100) %></p>
                    <h4 class="me-2">&#x20B9 <%= product.price %></h4>
                 <a href="/products/<%= product.id %> " class="btn  btn-outline-primary">Buy Now</a>
                </div>
              </div>
        </div>

        <% } %> 

    </div>

</main>
 <%- include('../partials/footer') %>
