<%- include('../partials/header') %>
<%- include('../partials/navbar') %>


<main class="seachPage">
    <div class="row mProducts">
      <h3>Latest Products</h3> <br>
      <hr>
      
  <% if(products.length === 0){ %>
    <div class="empty ">
      <h4 > Sorry, The product that you are looking for is not available in the store at this moment.</h4>
      <div>
        <button class="btn btn-success btn-small"> <a class="nav-link" href="/products">Explore Other Products</a></button>
 
      </div>
    </div>

    <% }%> 
            <% for(let product of products) { %> 
        <div class="col col-lg-4 col-md-6">

            <div class="card mx-auto mb-5" >
                <img src="<%= product.image %> " class="card-img-top" alt="Product">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text pDesc"><%= product.desc.substring(0,90) %>...</p>
                  <span class="pRate">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                  <span><%= product.reviews.length %> Review(s)</span>
                  <br>
                    <h4 class="me-2 d-inline-block">&#x20B9 <%= product.Nprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></h4>
                    <h6 class="me-2 d-inline-block text-muted text-decoration-line"><s>&#x20B9 <%= product.Oprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","); %></s></h6><br>
                 <a href="/products/<%= product.id %> " class="btn btn-outline-primary">Buy Now</a>
                </div>
              </div>
        </div>

        <% } %> 

    </div>

</main>
 <%- include('../partials/footer') %>
